.product-list li {
  float: left;
  width: 30%;
  margin-right: 5%;
}

.product-list li:nth-of-type(3n) {
  margin-right: 0;
}

.product__price {
  display: inline-block;
  line-height: 34px;
}

.product__button-wrap {
  float: right;
}
